body{
    margin: 0;
    color: #111;
}
h1,h2,h3{
    margin: 0;
}

/* Clases de la caja bienvenidos */
.box, .insert{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.box__data{
    margin-bottom: 1.75rem;
}
.box__subtitle {
    margin-bottom: .5rem;
}
.box__btn{
    padding: .75rem 2rem;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
    outline: none;
}
.box__btn:hover{
    background-color: #ddd;
}
.box__input{
    padding: .5rem;
    border-radius: .5rem;
    border: 1px solid #999;
    outline: none;
}

/* Clases del card insertado */
.insert{
    padding: 1.5rem 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1.5px solid #999;
    border-radius: 1rem;
}
.insert__box{
    margin-bottom: 1.5rem;
}
.insert__subtitle{
    margin-bottom: .5rem;
}
.insert__title{
    margin-bottom: 1.5rem;
}

@media screen and (min-width: 960px){
    .box, .insert{
        max-width: 760px;
        margin-left: auto;
        margin-right: auto;
    }

}